version: '3.8'

services:

  # Оператор NICO в режиме разработки
  nico:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: nico-dev
    network_mode: host
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.kube/config:/app/.kube/config
    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
      - PYDEVD_DISABLE_FILE_VALIDATION=1
    ports:
      - "5678:5678"  # Python debugger port
    command: python -m debugpy --listen 0.0.0.0:5678 --wait-for-client main.py

  # Оператор NIO (базовая инфраструктура)
  nio:
    image: ghcr.io/homystack/nio:main
    container_name: nio-main
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.kube/config:/home/operator_user/.kube/config
    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
      - PYDEVD_DISABLE_FILE_VALIDATION=1 
    ports:
      - "5678:5678"  # Python debugger port

  # PXE сервер для загрузки машин через iPXE
  nio-ipxe:
    image: ghcr.io/homystack/nio-ipxe:main
    container_name: nio-ipxe-main
    network_mode: host
    volumes:
      - .pxe:/app/.pxe
      - ~/.kube/config:/root/.kube/config
    environment:
      - KUBECONFIG=/root/.kube/config
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
    command: python ipxe.py
    privileged: true
