version: '3.8'

services:

  # Оператор NICO в режиме разработки
  nico:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: nico-dev
    network_mode: host
    volumes:
      - ~/.kube/config:/app/.kube/config
    environment:
      - METRICS_PORT=8002
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
      - PYDEVD_DISABLE_FILE_VALIDATION=1
    ports:
      - "5678:5678"  # Python debugger port
    command: python -m debugpy --listen 0.0.0.0:5678 --wait-for-client main.py

  # Оператор NIO (базовая инфраструктура)
  nio:
    image: nio-nio
    network_mode: host
    volumes:
      - ~/.kube/config:/app/.kube/config
    environment:
      - METRICS_PORT=8001
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
      - PYDEVD_DISABLE_FILE_VALIDATION=1 

  # PXE сервер для загрузки машин через iPXE
  nio-ipxe:
    image: nio-nio-ipxe
    network_mode: host
    volumes:
      - .pxe:/app/.pxe
      - ~/.kube/config:/app/.kube/config
    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
    privileged: true
    command: ["python", "ipxe.py", "--interface", "eth0"]
